$primary-color: #FFDFC1;
$highlight-color: #FFB570;
$accent-color: #545454;
$flair-font: 'La Belle Aurore', cursive;
$main-font: 'Lato';
$hand-font: 'Caveat', cursive;

hr {
    border: none;
    color: $accent-color;
    background-color: $accent-color;
    height:1px;
}

h1 {
    color: $highlight-color;
    font-size: 4rem;
}

h2 {
    color: $accent-color;
    font-size: 4rem;
}

p {
    color: $accent-color;
    font-size: 1.2rem;
}

.container {
    justify-content: space-between;
    background-color: white;
}

.role-container {
    display: flex;
    justify-content: center;
    
    padding: 1rem;
}

.role-fun-container {
    background-color: $primary-color;

    border-radius: 1rem;
    padding: 1.5rem;

    width: 100%;
    cursor: pointer;

    transition-duration: 0.1s;

    p {
        font-family: $hand-font;
    }   

    div {
        visibility: hidden;
    }
}

.role {
    color: black;
}

.about-text-container {
    padding: 0rem 1.5rem;

}

@media screen and (min-width: 769px) {
    .container {
        justify-content: space-between;
        background-color: white;
    }
    
    .content {
        margin: 0 25%;
        flex-wrap: wrap;
    }
    
    .heading-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        h1 {
            margin-right: 2rem;
        }
    }
    
    .role-container {
       display: flex;
       justify-content: center;
    
       padding: 1rem;  
    }
    
    .role-fun-container {
        background-color: $primary-color;
    
        border-radius: 1rem;
        padding: 1.5rem;
        padding-bottom: 0rem;
        width: fit-content;
    
    
        cursor: pointer;
    
        transition-duration: 0.1s;
    
        p {
            visibility: hidden;
            font-family: $hand-font;
        }
    }
    
    .role-fun-container:hover {
    
        padding-bottom: 1.5rem;
    
        p {
            visibility: visible;
        }
    
    }
    
    
}
