$primary-color: #FFDFC1;
$highlight-color: #FFB570;
$accent-color: #545454;
$flair-font: 'La Belle Aurore', cursive;
$main-font: 'Lato';

hr {
    border: none;
    color: $accent-color;
    background-color: $accent-color;
    height:1px;
}

h1 {
    color: $highlight-color;
    font-size: 4rem;
}

h2 {
    color: $accent-color;
    font-size: 3rem;
}

p {
    color: $accent-color;
}

.container {
    justify-content: flex-start;
    background-color: white;
}

.content {
    margin: 0 25%;
    flex-wrap: wrap;
}

.heading-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
        margin-right: 2rem;
    }
}

.role-container {
    background-color: $primary-color;
    border-radius: 1rem;
    padding: 1.5rem;
}

.role {
    color: black;
}

