$background-color: #FBFBF0;
$primary-color: #FFDFC1;
$highlight-color: #FFB570;
$accent-color: #545454;
$flair-font: 'La Belle Aurore', cursive;
$main-font: 'Lato';
$hand-font: 'Caveat', cursive;

hr {
    border: none;
    color: $accent-color;
    background-color: $accent-color;
    height: 1px;
}

h1 {
    color: $highlight-color;
    font-size: 4rem;
}

h2 {
    color: $accent-color;
    font-size: 3rem;
}

p {
    color: $accent-color;
    font-size: 1.2rem;
}

/*Whole page CSS*/
.header {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    justify-content: flex-start;
    background-color: $background-color ;
}

.content {
    padding: 0rem 1.5rem;
    padding-top: 5rem;
}


/* Display Card CSS */
.role-container {
    display: flex;
    justify-content: center;
    
    padding: 1rem;
}

.role-fun-container {
    background-color: $primary-color;

    border-radius: 1rem;
    padding: 1.5rem;

    width: 100%;

    transition-duration: 0.1s;

    p {
        font-family: $hand-font;
    }   

    div {
        visibility: hidden;
    }
}

.role {
    color: black;
}

/* Content CSS */

.subject-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tutor-profile {
    color: $accent-color;
    text-decoration-line: underline;
}



.tutor-section {
    margin-bottom: 1rem;

    h1 {
        margin-bottom: 1rem;
    }

    h2 {
        margin-bottom: 1rem;
    }
    
    p {
        margin-bottom: 1rem;
    }
}

.yt-container {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 769px) {
    
    .content {
        margin: 0 25%;
        flex-wrap: wrap;
    }
    
    .heading-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    
        h1 {
            margin-right: 2rem;
        }
    }

    .role-container {
       display: flex;
       justify-content: center;
    
       padding: 1rem;  
    }
    
    .role-fun-container {
        background-color: $primary-color;
    
        border-radius: 1rem;
        padding: 1.5rem;
        padding-bottom: 0rem;
        width: 100%;
    
        transition-duration: 0.1s;

        h2 {
            text-align: center;
        }
    
        p {
            visibility: hidden;
            font-family: $hand-font;
        }
    }
    
    .tutor-profile {
        text-decoration: none;
    }

    .tutor-profile:hover {
        text-decoration-line: underline;
    }
}
