hr {
  border: none;
  color: #545454;
  background-color: #545454;
  height: 1px;
}

h1 {
  color: #FFB570;
  font-size: 4rem;
}

h2 {
  color: #545454;
  font-size: 3rem;
}

p {
  color: #545454;
  font-size: 1.2rem;
}

/*Whole page CSS*/
.header {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FBFBF0;
}

.content {
  padding: 0rem 1.5rem;
  padding-top: 5rem;
}

/* Display Card CSS */
.role-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.role-fun-container {
  background-color: #FFDFC1;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 100%;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.role-fun-container p {
  font-family: "Caveat", cursive;
}

.role-fun-container div {
  visibility: hidden;
}

.role {
  color: black;
}

/* Content CSS */
.subject-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.tutor-profile {
  color: #545454;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.tutor-section {
  margin-bottom: 1rem;
}

.tutor-section h1 {
  margin-bottom: 1rem;
}

.tutor-section h2 {
  margin-bottom: 1rem;
}

.tutor-section p {
  margin-bottom: 1rem;
}

.yt-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 769px) {
  .content {
    margin: 0 25%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 7rem;
  }
  .heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading-container h1 {
    margin-right: 2rem;
  }
  .role-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 1rem;
  }
  .role-fun-container {
    background-color: #FFDFC1;
    border-radius: 1rem;
    padding: 1.5rem;
    padding-bottom: 0rem;
    width: 100%;
    -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
  }
  .role-fun-container h2 {
    text-align: center;
  }
  .role-fun-container p {
    visibility: hidden;
    font-family: "Caveat", cursive;
  }
  .tutor-profile {
    text-decoration: none;
  }
  .tutor-profile:hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
}
/*# sourceMappingURL=tutor.css.map */